{% extends 'base.html.twig' %}



{% block body %}

{% if cart.elements %}

<div>
    Total du panier : {{ cart.total }}
</div>


<table>
    <tr>
        <th>Nom du jeu</th>
        <th>Quantité</th>
        <th>Prix</th>
    </tr>

    {% for element in cart.elements %}
     
     <tr>
          <td> {{ element.game.name}} </td>
          <td> {{ element.quantity}} </td>
          <td> {{ element.game.price}} </td>

     </tr>
 
{% endfor %}
</table>
<a class="btn btn-dark " href="{{ path('payment_index') }}">Payer</a>
{% endif %}

 
<a class="btn btn-secondary " href="{{ path('cart_clear') }}">Vider le panier</a>

<a class="btn btn-secondary " href="{{ path('catalogue_index') }}">Retour au catalogue</a>

{% endblock %}