{% extends 'base.html.twig' %}

{% block title %}PaymentRequest index{% endblock %}

{% block body %}
    <h1>PaymentRequest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>PaidAt</th>
                <th>Validated</th>
                <th>StripeSessionId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payment_request in payment_requests %}
            <tr>
                <td>{{ payment_request.id }}</td>
                <td>{{ payment_request.createdAt ? payment_request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ payment_request.paidAt ? payment_request.paidAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ payment_request.validated ? 'Yes' : 'No' }}</td>
                <td>{{ payment_request.stripeSessionId }}</td>
                <td>
                    <a href="{{ path('admin_payment_request_show', {'id': payment_request.id}) }}">show</a>
                    <a href="{{ path('admin_payment_request_edit', {'id': payment_request.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_payment_request_new') }}">Create new</a>
{% endblock %}
