{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ order.reference }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ order.createAt ? order.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SendAt</th>
                <td>{{ order.sendAt ? order.sendAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light" href="{{ path('admin_order_index') }}">back to list</a><br></br>

    <a class="btn btn-success" href="{{ path('admin_order_edit', {'id': order.id}) }}">edit</a><br></br>

    {{ include('admin_order/_delete_form.html.twig') }}<br></br>
{% endblock %}
