{% extends 'base.html.twig' %}

{% block title %}Catalogue des jeux{% endblock %}

{% block body %}
<style>
h1{
    color:white;
}
.table{
    color:white;
}
.image{
   
}
</style>

    <h1>Catalogue des jeux</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
               
                <td>{{ game.name }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.price }} € </td>
                
                <td>    <img class="image" src="{{ asset('uploads/' ~ game.imageFilename )}}" />
                </td>
                <td>
                    <a class="btn btn-light" href="{{ path('catalogue_show', {'id': game.id}) }}">Détail</a>
                    
                      <a class="btn btn-light" href="{{ path('cart_add', {'id': game.id}) }}">Ajouter dans le panier</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
