{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
<style>
.table{
    background:black;
}
</style>
    <h1>{{ game.name }}</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ game.price }} €</td>
            </tr>
           
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/' ~ game.imageFilename )}}" /></td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light" href="{{ path('catalogue_index') }}">back to list</a>

    
{% endblock %}
